/* Wrapper for the entire news list to add margins */
.news-list-wrapper {
  padding: 0 60px; /* Adjust the value as needed for more or less space */
}

/* News card styling */
.news-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f1f1f1;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Light black box shadow */
  text-decoration: none; /* Remove underline from anchor tag */
  color: inherit; /* Inherit color from parent */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.news-card:hover {
  background-color: rgb(247, 200, 247); /* Light purple color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Slightly darker box shadow on hover */
  
}

.news-content {
  display: flex;
  justify-content: space-between;
}

.news-info {
  flex: 1;
}

.news-source-time {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: gray;
}

.news-source {
  margin-right: 10px; /* Adds space between the source name and time */
}

.news-time {
  margin-left: 20px; /* Adjusts space between the source name and time */
}

.news-headline {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.news-company-info {
  margin-top: 10px;
}

.company-container {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.company-name {
  font-size: 14px;
  font-weight: bold;
}

.company-change {
  font-size: 14px;
  margin-left: 10px;
}

.company-change.positive {
  color: green;
}

.company-change.negative {
  color: red;
}

.news-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100px; /* Adjust width as needed */
}

.news-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the square area */
}
