.cover1 {
    background: #592a50;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  
  ul {
    list-style-type: none;
  }
  
  .footer-1 li {
    padding: 0 10px;
    line-height: 23px;
    color: #fff;
  }
  
  #fot-section-2 li {
    padding: 0 10px 10px;
    color: #fff;
  }
  
  li {
    cursor: pointer;
  }
  
  .footer-1 li {
    cursor: default;
  }
  
  .fot-top-heading {
    font-size: 18px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 21px;
    margin-bottom: 15px;
    margin-top: 17px;
    color: #fff;
    cursor: default;
  }
  
  /* underline */
  
  .footerLine {
    height: 1px;
    opacity: 0.1;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
  }
  
  .copyRight {
    margin-top: 10px;
  }
  
  .heartImg {
    font-size: 32px;
    color: #eb5b3c;
    margin: 0 4px;
  }
  
  #fot-section-2 {
    width: 66%;
  }
  
  /* <!-- -- footer - (END)-- --> */
  
  /* --- */
  
  #thirdBox {
    width: 160px;
  }
  .dontDisplay {
    display: none;
  }
  
  .afterLogin {
    width: 160px;
    display: flex;
    position: absolute;
    margin: -5px 0 0 -2px;
  }
  .afterLogin img {
    width: 40px;
    border-radius: 50px;
    cursor: pointer;
  }
@media (max-width: 768px) {
  .max-w {
    /* max-width: 550px; */
    width: 100%;
    margin: 0 auto;
  }

  .nav-div {
    flex-direction: column;
    align-items: center;
  }

  .nav-div div {
    margin-top: 20px;
  }

  nav div .c-search {
    margin-left: 0px;
  }

  #search {
    width: 380px;
  }

  .thirdBox {
    margin-bottom: 20px;
    position: absolute;
  }

  #userAcc {
    margin-left: 38px;
  }

  #cont1 {
    flex-direction: column;
    /* margin-top:100px; */
  }

  .content {
    margin-top: 50px;
  }

  .body-1 {
    flex-direction: column;
  }

  .slides {
    margin-top: 10px;
    text-align: center;
  }

  #cont {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #mid-text {
    text-align: center;
  }

  #get-btn {
    display: none;
  }

  /*  .chip-text-div {
    text-align: center;
  } */

  .heading-text {
    text-align: center;
  }

  #chip-text {
    margin: 70px auto 40px;
  }

  .tab-wrapper {
    /* flex-direction: row; */
    overflow: auto;
    margin: auto;
    width: 100%;
  }

  .tab-text1 {
    padding-right: 0;
    line-height: 30px;
    margin-bottom: 0;
  }

  .color-hover {
    margin: 0 15px;
    width: 160%;
  }

  .color-hover:hover {
    border-bottom: 3px solid #fff;
  }

  .tab-text2 {
    position: inherit;
  }

  .mutual-fund {
    margin-right: 50px;
    margin-left: 20px;
  }

  .us-stocks {
    margin-left: 40px;
    margin-right: 40px;
  }

  ::-webkit-scrollbar {
    /* width: 0; */
    /* background: transparent;  */
    scrollbar-color: transparent;
  }

  .img-1 {
    width: 450px;
    height: 339px;
    margin-left: 40px;
  }

  .container {
    flex-direction: column;
  }

  .div-text {
    text-align: center;
    margin-left: 0;
    margin-top: 60px;
  }

  #animation-div {
    width: 100%;
    height: 700px;
    margin-top: 200px;
    background-image: url("//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/build/client/images/shield-groww.0d0cc15e.png");
    /* background-position: center; */
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position-x: -150px !important;
    background-position-y: 50px !important;
  }

  .hs33TextWrapper {
    margin-top: 361px;
  }

  .hs33Heading {
    width: 450px;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-left: 25px;
  }

  .hs33Para {
    margin-left: 25px;
    font-size: 18px;
    line-height: 26px;
  }

  /*   #section-three {
    flex-direction: column;
  }  */

  #section-three-heading {
    font-size: 30px;
    margin-bottom: 60px;
  }

  #section-three-img {
    flex-direction: column;
    margin: auto 90px;
    justify-content: center;
  }

  #section-three-img p {
    /* font-weight: 500; */
    /* text-align: center; */
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.2px;
    margin-top: 25px;
    color: #44475b !important;
    margin-bottom: 20px;
    margin-right: 155px;
  }

  .press-name {
    flex-direction: column;
  }

  #testonomials .heading {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }

  #testonomials .view-more {
    flex-direction: column;
  }

  .view-more #para {
    margin-bottom: 10px;
  }

  #card-div {
    flex-direction: column;
  }

  .card {
    margin-bottom: 50px;
  }

  .invest-class {
    flex-direction: column;
  }

  .invest-left-part {
    width: 380px;
  }

  #three-img {
    flex-direction: column;
    margin-top: 60px;
  }

  .invest-3-img {
    margin-left: 0;
    margin-top: 30px;
  }

  .ss34Wrapper {
    height: 710px;
    /* text-align: center; */
    border-radius: 0;
  }
  .ss34TextWrapper {
    margin-left: 10px;
  }

  .ss34Img {
    right: 130px;
  }

  .footer-1 {
    margin-left: 135px;
  }

  #fot-section-2 {
    margin-right: 5px;
    width: 95%;
  }

  .copyRight {
    flex-direction: column;
  }

  .socialMedia {
    margin-left: -23px;
  }
}

.noDropDownDisplay{
  display: none;
}
.displayDropDown{
  position: absolute;
  width: 100px;
  margin-left: 1150px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#logOutDropDown:hover{
  background-color: whitesmoke;
}
.logout{
  padding: 5px 5px 5px 15px;
  font-size: 14px;
}  